{% extends 'base.html.twig' %}

{% block title %}GreenGoodies!{% endblock %}

{% block body %}


<div>
  <h1>Hello {{ controller_name }}! ✅</h1>

  This friendly message is coming from:
  <ul>
    <li>Your controller at
      <code>C:/Users/Masson/Desktop/Cours Symfony/P2/GreenGoodies/src/Controller/ProductController.php</code>
    </li>
    <li>Your template at
      <code>C:/Users/Masson/Desktop/Cours Symfony/P2/GreenGoodies/templates/product/index.html.twig</code>
    </li>
  </ul>
</div>
{% endblock %}